@page "/fetchdata"
@using Btest.Services;
@using BtestShared.Models;
@inject IStudent _student
<PageTitle>Students List</PageTitle>
<h1>Students List</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (students == null)
{
    <p><em>Loading...</em></p>
}
else
{
<div>
     
</div>
    <table class="table">
        <thead>
            <tr>
                <th>SRN</th>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in students)
            {
               int num= count++;
                <tr>
                    <td>@num.ToString()</td>
                    <td>@student.Id.ToString()</td>
                    <td>@student.FirstName</td>
                    <td>@student.LastName</td>                   
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Students[]? students;
    private int count =1;
    protected override async Task OnInitializedAsync()
    {
        var st = await _student.GetStudentsAsync();
        students = st.ToArray();
    }
}
